@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

html,
body {
  height: 100%;
}
body {
  font-family: "Alice", serif;
  font-weight: lighter;
  color: rgb(63, 62, 62);
  background-color: #f6f5f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
ul {
  padding-inline-start: 0;
}

img {
  display: block;
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #d3e0ea;
  margin: 24px auto;
}
.App {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:any-link {
  color: inherit;
}

.about-hr {
  width: 100%;
}

p {
  line-height: 1.5;
}
.post-content p {
  margin-bottom: 40px;
}

.warrior {
  height: 10px;
}
.flowers {
  max-height: 550px;
}

strong {
  font-weight: bold;
}

.story {
  text-align: left;
  margin-bottom: 40px;
  padding-right: 20px;
}
.story * {
  float: right;
}
.story strong,
.story em {
  float: none;
}

li {
  list-style: none;
}

.post {
  margin: 0 auto;
  max-width: 1000px;
}
.post-container {
  margin: 0 32px;
}

.post-title {
  text-align: left;
}
.post-content {
  text-align: left;
}
.post-content > p {
  text-align: center;
}

.container {
  margin: 0 auto;
}
#header .container {
  max-width: 600px;
}

#header {
  background-color: #d3e0ea;
  line-height: 140px;
  margin-bottom: 32px;
}
#header a {
  text-decoration: none;
  letter-spacing: 0.1em;
  margin: 0 34px;
}

#header-title {
  font-size: 20px;
  font-weight: bold;
}

#logo {
  fill: rgb(63, 62, 62);
  width: 128px;
  margin-bottom: -2px;
}

#footer {
  flex-shrink: 0;
  background-color: #d3e0ea;
  padding: 20px 0;
  margin-top: 128px;
}
#footer h3 {
  letter-spacing: 0.1em;
}

#footer .column {
  min-width: 300px;
  text-align: center;
  vertical-align: top;
}

.about h1 {
  text-align: center;
}

.about img {
  margin: 0 24px 24px 0;
}
.yogaphoto {
  float: left;
  max-height: 400px;
}

.contact {
  max-width: 600px;
}

.contact li {
  margin-left: 100px;
  margin-top: 20px;
}
.contact p {
  margin-top: 30px;
}
.contact h2 {
  margin-bottom: 36px;
}
.contact-details,
.community {
  text-align: center;
}
.confirmation {
  color: rgb(63, 62, 62);
  text-align: center;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

.post-author span {
  margin-left: 16px;
}

div .title {
  margin-top: 30px;
}

.timetable {
  margin: 0 32px;
}

div.react-calendar {
  font-family: inherit;
  margin: 0 auto;
  padding: 12px;
  width: 800px;
  margin-bottom: 24px;
  color: inherit;
  background-color: white;
  border: 1px solid #d3e0ea;
  border-radius: 16px;
}
.yogaClass {
  text-align: center;
}

button.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
button.react-calendar__tile:enabled:hover,
button.react-calendar__tile:enabled:focus {
  background-color: #d3e0ea;
  border-radius: 8px;
}

button.react-calendar__tile--hasActive.react-calendar__year-view__months__month {
  display: none;
}

button.react-calendar__tile--now {
  background: #d3e0ea;
  border-radius: 8px;
}
button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
  background: #d3e0ea;
  border-radius: 8px;
}
button.react-calendar__tile--active {
  background: #d3e0ea;
  color: white;
  border-radius: 8px;
}
button[class^="react-calendar__navigation__"]:hover {
  background: #d3e0ea !important;
  border-radius: 8px;
}

.reserve,
.join {
  display: block;
  line-height: 8px;
  margin: 20px auto;
  border-radius: 8px;
  border: none;
  background-color: #d3e0ea;
  outline: none;
  padding: 16px 16px;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #1687a7;
}
button a {
  font-weight: normal;
}
