@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Alice", serif;
  font-weight: lighter;
  color: rgb(63, 62, 62);
  background-color: #fcfefe;
  display: flex;
  flex-direction: column;
}
ul {
  padding-inline-start: 0;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 440px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

hr {
  border: none;
  border-top: 0.2px solid rgb(213, 200, 236);
  margin: 32px auto;
}
.App {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:any-link {
  color: inherit;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

li {
  list-style: none;
}

.post {
  margin: 0 auto;
  max-width: 1000px;
}
.post-container {
  margin: 0 32px;
}

.container {
  margin: 0 auto;
}

#logo {
  fill: rgb(63, 62, 62);
  width: 128px;
  margin-bottom: -2px;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

div .title {
  margin-top: 32px;
}

@media (max-width: 480px) {
  img {
    width: 100%;
  }
}
