#header {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  line-height: 128px;
  margin-bottom: 32px;
}
#header a {
  text-decoration: none;
  letter-spacing: 0.1em;
  margin: 0 34px;
}

#header-title {
  font-size: 20px;
  font-weight: bold;
}
#header .container {
  max-width: 640px;
}

@media (max-width: 480px) {
  #header {
    line-height: 80px;
  }
  #header-title {
    display: block;
    text-align: center;
  }
  #logo {
    margin-bottom: -24px;
  }
}
