div.react-calendar {
  font-family: inherit;
  margin: 0 auto;
  padding: 12px;
  width: 800px;
  margin-bottom: 24px;
  color: inherit;
  background-color: white;
  border: 0.1px solid rgb(207, 211, 236) 100.2%;
  border-radius: 16px;
}

.timetable {
  margin: 0 32px;
}

button.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
button.react-calendar__tile:enabled:hover,
button.react-calendar__tile:enabled:focus {
  background: rgb(207, 211, 236) 100.2%;
  border-radius: 8px;
}

button.react-calendar__tile--hasActive.react-calendar__year-view__months__month {
  display: none;
}

button.react-calendar__tile--now {
  background: rgb(207, 211, 236) 100.2%;
  border-radius: 8px;
}
button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
  background: rgb(207, 211, 236) 100.2%;
  border-radius: 8px;
}
button.react-calendar__tile--active {
  background: rgb(207, 211, 236) 100.2%;
  color: black;
  border-radius: 8px;
}
button[class^="react-calendar__navigation__"]:hover {
  background: rgb(207, 211, 236) 100.2% !important;
  border-radius: 8px;
}
.yogaClass {
  text-align: center;
}
.title h2 {
  margin-bottom: 20px;
}
